/*@import url(style.css?20120427);
*/
/*@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:600,600italic);
*/

/*starting main page css */

/** {
  outline: 1px dashed;
}*/

@font-face {
    font-family: 'Josefin Slab';
    src: url('fonts/JosefinSlab-Regular-webfont.eot');
    src: url('fonts/JosefinSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/JosefinSlab-Regular-webfont.woff') format('woff'),
         url('fonts/JosefinSlab-Regular-webfont.ttf') format('truetype'),
         url('fonts/JosefinSlab-Regular-webfont.svg#JosefinSlabRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedLight';
    src: url('fonts/OpenSans-CondLight-webfont.eot');
    src: url('fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-CondLight-webfont.woff') format('woff'),
         url('fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-CondLight-webfont.svg#OpenSansCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  color: #4F5051;
  font-family: 'Josefin Slab';
  font-size: 1em;
  /*width: 100%;*/
  overflow: hidden;
}

p {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-size: 1em;
  line-height: 1.25em;
  margin: 0px;
}

h1 {
  font-family: 'OpenSansCondensedLight'; 
  /*font-style: normal;*/
  font-size: 2.5em;
  margin: 0px;
}

h2 {
  font-family: 'Josefin Slab'; 
  font-size: 1.6em;
  font-style:normal;
  color: white;
  vertical-align: bottom;
  margin: 0px;
}

h3 {
  font-family: 'OpenSansCondensedLight';
  font-style: normal;
  font-size: 1.5em;
  margin:0px;
  /*margin: .3em .3em .3em .3em;*/
}

h5 {
  margin: 10px 0 0 0;
}

select {
  width: 100%;
}

option {
  font-size: 2em;
  font-family: 'Josefin Slab';

}

.header {
  width: 100%;
  height: 161px;
  margin-left: auto;
  margin-right:auto;
  display: inline-block;
  background-color: #CCCCCC;
  opacity: .7;
  z-index: -1;
}

.header_content{
  margin: auto;
  background-color: #E6E7E8;
  display: inline-block;
}

.slide {
  width: 80%;
  height: 45px;
  display: inline-block;
  float:right;
/*  background-color: #F47E1F;*/
  color: white;
  margin-top: 20px;
  z-index: 8;
}

.title {
/*  width: 450px;*/
  padding: 27px;
  display: inline-block;
  float:left;
  height: 80px;
  margin-right: 30px;
  margin-top:0px;
  background-color: #DDDDDD;
  vertical-align: middle;
  -webkit-box-shadow: 0px 1px 2px #AAA;
  z-index: 10;
}

.subtitle {
  width: 300px;
  margin-top: 5px;
  float:left;
}

.third {
  width: 200px;
  padding: .5em;
  /*width: 30.5%;*/
  height: 100%;
  display: inline-block;
  display: inline;
  float: left;
  vertical-align: middle;
  z-index: -1;
  /*background-color: #E6E7E8;*/
}

.half {
/*  width: 47.85%;*/
  float:left;
  padding: 10px 10px 10px 10px;
}

.two-third {
/*  padding: 10px;*/
  /*margin: 0 0 0 10px;*/
  margin-right: auto;
  margin-left: auto;
  width:  715px;
  display: inline-block;
  float:left;
  height:100px;
}

.chart_area .two-third {
  height: 100%;
  margin-left: 45px;
}

.chart_area {
  margin: 10px;
  width: 100%;
  height: 400px;
  display: inline-block;
  float:left;
}

.svgLoaded {
  margin: auto;
}

.checkboxes {
  margin: 30px 0 0 0; 
  display: inline-block;
  float: left;
  line-height: 20px;
}

label {  
    display: inline-block;  
    /*cursor: pointer;  */
    position: relative;
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: .8em;  
} 

input[type=checkbox] {  
    display: none;  
}  

label:before {  
    content: "";  
    display: inline-block;  
  
    width: 16px;  
    height: 16px;  
  
/*    margin-right: 10px;  */
    position: absolute;  
    left: 0;  
    bottombottom: 1px;  
    background-color: white;  
}  

/*.radio label:before {  
    border-radius: 8px;  
} */

input[type=checkbox]:checked + label:before {  
    content: "\2713";  
    color: #F47E1F;  
    font-size: 1em;  
    text-align: center;  
    line-height: 18px;  
}

/*#year_slider {
  height: 5.7em;
}*/

#slider {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 0px;
  background: white;
  height: 8px;
  width: 900px;
  margin-top:0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  background:#F47E1F !important;
  border: 0px !important;

}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

#other_data {
  margin-top: 20px;
}

#main_year {
  font-family: "OpenSansCondensedLight";
  font-size: 4.5em;
  vertical-align: baseline;
  color: #F47E1F;
}

#year_slider{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*  background-color: #BBBDC0;
  height: 5.7em;*/
}

#year_display {
  display: inline-block;
}

.question_area {
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  width:  670px;
  display: inline-block;
  float:left;
  height:100px;
}

#question {
  display: inline-block;
  width: 400px;
  line-height: 3em;
  text-align: right;
}

.question_mark {
  display: inline-block;
  width: 50px;
  font-size: 5.5em;
  font-family: "Josefin Slab";
  color: white;
}

/*map style*/
#map {
  position: fixed;
  top: 0px;
  left: 10px;
  z-index: 0;
}

#Gaza polygon{
  fill: #51B7CE;
}

#Gaza polygon:hover{
  fill: #59C2D3;
}

#Etzion_x5F_Bloc path {
  fill: #91F4CE;
}

#Etzion_x5F_Bloc path:hover {
  fill: #A5F9D7;
}

#Jordan_x5F_Valley path {
  fill: #C4C911;
}

#Jordan_x5F_Valley path:hover {
  fill: #D6D61A;
}

#Samaria path {
  fill: #89FFFF;
}

#Samaria path:hover {
  fill: #A9FFFD;
}

#Benjamin path {
  fill: #E27D83;
}

#Benjamin path:hover {
  fill: #E59199;
}

#Megilot path {
  fill: #FFC000;
}

#Megilot path:hover {
  fill: #FFC931;
}

#Mount_x5F_Hebron path {
  fill: #FF7D46;
}

#Mount_x5F_Hebron path:hover {
  fill: #FF926C;
}

#water polygon{
  fill: #DDDDDD;
}


/*chart css*/

#chart {
  float: left;
  margin: auto;
}

#text {
  font: 10px "Josefin Slab";
}

.dot {
  stroke: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}