/*@import url(style.css?20120427);
*/
/*@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:600,600italic);
*/

/*starting main page css */

@font-face {
    font-family: 'Josefin Slab';
    src: url('fonts/JosefinSlab-Regular-webfont.eot');
    src: url('fonts/JosefinSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/JosefinSlab-Regular-webfont.woff') format('woff'),
         url('fonts/JosefinSlab-Regular-webfont.ttf') format('truetype'),
         url('fonts/JosefinSlab-Regular-webfont.svg#JosefinSlabRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedLight';
    src: url('fonts/OpenSans-CondLight-webfont.eot');
    src: url('fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-CondLight-webfont.woff') format('woff'),
         url('fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-CondLight-webfont.svg#OpenSansCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  color: #4F5051;
  font-family: 'Josefin Slab';
  font-size: 1em;
  width: 1024px;
}

p {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-size: 1em;
  line-height: 1.35em;
  margin: 0px;
}

h5 a {
  font-family: 'Josefin Slab';
  font-style: normal;
  line-height: 1.25em;
  color: #F47E1F;
  bottom: 0px;
  text-decoration: none;
}


h5 a:hover {
  color: #4F5051;
  text-decoration: underline;
}

h1 {
  font-family: 'OpenSansCondensedLight'; 
  /*font-style: normal;*/ 
  font-size: 2.5em;
  margin: 0px;
}

h2 {
  font-family: 'Josefin Slab'; 
  font-size: 1.3em;
  font-style:normal;
  color: #666666;
  vertical-align: bottom;
  margin: 0px;
}

h3 {
  font-family: 'OpenSansCondensedLight';
  font-style: normal;
  font-size: 1.35em;
  margin:0px;
  text-decoration-line: underline;
  color: #5b5b5b;
  /*margin: .3em .3em .3em .3em;*/
}

h5 {
  margin: 10px 0 0 0;
}

select {
  width: 100%;
}

option {
  font-size: 2em;
  font-family: 'Josefin Slab';
}

.header {
  width: 100%;
  height: 161px;
  margin-left: auto;
  margin-right:auto;
  display: inline-block;
  background-color: #CCCCCC;
  opacity: .7;
  z-index: -1;
}

.header_content{
  margin: auto;
  background-color: #E6E7E8;
  display: inline-block;
}

.footer {
  width: 100%;
  height: 65px;
  margin-top: 100px;
  bottom: 0px;
  margin-left: auto;
  margin-right:auto;
  display: inline-block;
  background-color: #CCCCCC;
  opacity: .7;
  z-index: -1;
}
/*.slide {
  width: 80%;
  height: 45px;
  display: inline-block;
  float:right;
  background-color: #F47E1F;
  color: white;
  margin-top: 20px;
  z-index: 8;
}*/

.title {
/*  width: 450px;*/
  padding: 15px;
  display: inline-block;
  float:left;
  height: 110px;
  margin-right: 10px;
/*  margin-top:0px;*/
  background-color: #DDDDDD;
  vertical-align: middle;
  -webkit-box-shadow: 0px 1px 2px #AAA;
  z-index: 10;
}

.subtitle {
  width: 300px;
  margin-top: 5px;
  float:left;
}

.half {
/*  width: 47.85%;*/
  float:left;
  padding: 10px 10px 10px 10px;
}

.two-third {
  margin-right: auto;
  margin-left: 100px;
  width:  715px;
  display: inline-block;
  float:left;
  height:100px;
}

#eventdiv {
  margin-left: 60px;
  line-height: 1.3;
  width: 725px;
}

.chart_area {
  margin: 10px;
  width: 100%;
  height: 400px;
  display: inline-block;
  float:left;
}

.svgLoaded {
  margin: auto;
}

.checkboxes {
  margin: 0px; 
  display: inline-block;
  float: left;
  line-height: 20px;
  width: 150px;
}

label {  
    display: inline-block;  
    /*cursor: pointer;  */
    position: relative;
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: .8em;  
} 

input[type=checkbox] {  
    display: none;  
}  

label:before {  
    content: "";  
    display: inline-block;  
  
    width: 16px;  
    height: 16px;  
  
/*    margin-right: 10px;  */
    position: absolute;  
    left: 0;  
    bottombottom: 1px;  
    background-color: white;  
} 

#gaza_type {
  color: #7f7f7f;
}

#sam_type {
  color: #ff7f0e;
}

#benjamin_type {
  color: #9467bd;
}

#etzion_type {
  color: #2ca02c;
} 

#jordan_type {
  color: #d62728;
} 

#mount_type {
  color: #1f77b4;
} 

#megilot_type {
  color: #e377c2;
} 

input[type=checkbox]:checked + label:before {  
    content: "\2713";  
    color: #CCCCCC;  
    font-size: 1em;  
    text-align: center;  
    line-height: 18px;  
}

/*#year_slider {
  height: 5.7em;
}*/

#slider {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 0px;
  background: white;
  height: 12px;
  width: 500px;
  margin-top:-10px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  background:#F47E1F !important;
  border: 0px !important;

}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

#other_data {
  margin-top: 20px;
}

#main_year {
  font-family: "OpenSansCondensedLight";
  font-size: 4.5em;
  vertical-align: baseline;
  color: #F47E1F;
}

#year_slider{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*  background-color: #BBBDC0;
  height: 5.7em;*/
}

#year_display {
  display: inline-block;
}

.question_area {
  margin-right: auto;
  margin-left: 10px;
  margin-top: 20px;
  width: 520px;
  height: 120px;
  display: inline-block;
  float:left;
  height:100px;
}

#question {
  display: inline-block;
  width: 300px;
  line-height: 1.5em;
  text-align: right;
}

.question_mark {
  display: inline-block;
  width: 50px;
  font-size: 5.5em;
  font-family: "Josefin Slab";
  color: #666666;
}

/*map style*/
#map {
  width: 350px;
  height: 100%;
  display: inline;
  float: left;
  top: 0px;
  left: 10px;
  margin: -150px 0 0 -100px;
  z-index: -1;
  display: inline-block;
  width: 185px;
}

#Gaza polygon{
  fill: #7f7f7f;
}

#Gaza polygon:hover{
  fill: #7f7f7f;
}

#Etzion_x5F_Bloc path {
  fill: #2ca02c;
}

#Etzion_x5F_Bloc path:hover {
  fill: #2ca02c;
}

#Jordan_x5F_Valley path {
  fill: #d62728;
}

#Jordan_x5F_Valley path:hover {
  fill: #d62728;
}

#Samaria path {
  fill: #ff7f0e;
}

#Samaria path:hover {
  fill: #ff7f0e;
}

#Benjamin path {
  fill: #9467bd;
}

#Benjamin path:hover {
  fill: #9467bd;
}

#Megilot path {
  fill: #e377c2;
}

#Megilot path:hover {
  fill: #e377c2;
}

#Mount_x5F_Hebron path {
  fill: #1f77b4;
}

#Mount_x5F_Hebron path:hover {
  fill: #1f77b4;
}

#water polygon{
  fill: #DDDDDD;
}

#Israel_1_ path{
  stroke: #5b5b5b;
}


/*chart css*/

#chart {
  float: left;
  margin: auto;
}

#text {
  font: 8px "Josefin Slab";
}

.dot {
  stroke: none;
  opacity: .8;
}

.axis path, .axis line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}

.label {
  fill: #CCC;
}
/*
.year.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}*/

.year.label.active {
  fill: #CCC;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}